div.breadcrumb {
  background-color: var(--bgc);
  margin:0 -1rem;
}
/* MOBILE - STYLING */
a.bcText, span.bcText {
  text-transform: uppercase;
  color: var(--vtWhite);
  font-family: var(--vtPrimaryFont);
  font-size: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  margin-top: 0%;
  width: 100vw;
  display: flex;
  align-items: center;
  text-decoration:none;
}

a.bcText:hover {
  text-decoration: underline;
}